<form [formGroup]="formGroup">

  <div class="form-group">
    <label>Id:</label>
    <input formControlName="id" class="form-control">
  </div>

  <div class="form-group">
    <label>From:</label>
    <input formControlName="from" class="form-control">

    <div class="error" *ngIf="!formGroup.controls?.['from']?.valid">
      Validierungsfehler
    </div>

    <div class="error" *ngIf="formGroup.controls?.['from']?.hasError('required')">
      Pflichtfeld!
    </div>

    <div class="error" *ngIf="formGroup.controls?.['from']?.hasError('minlength')">
      Min. 3 Zeichen
    </div>

    <div class="form-group">
      <label>To:</label>
      <input formControlName="to" class="form-control">
    </div>

    <div class="form-group">
      <label>Date:</label>
      <input formControlName="date" class="form-control">
    </div>

    <div class="form-group">
      <input type="checkbox" formControlName="delayed">
      &nbsp;
      <label>Delayed:</label>
    </div>

    <button class="btn btn-default" (click)="save()">Save</button>


  </div>


</form>
