<h1>Flight Search</h1>



<form #f="ngForm" appRoundTrip>

  <div class="error" *ngIf="f?.errors">
    {{f.errors | json}}
  </div>

  <div class="error" *ngIf="f?.hasError('appRoundTrip')">
    Round Trips are not supported
  </div>


  <div class="form-group">
    <label> From:</label>
    <input [(ngModel)]="from" name="from" [ngModelOptions]="{updateOn: 'blur'}" required minlength="3" maxlength="30"
      class="form-control" [appCity]="'Graz,München,Hamburg,Zürich'" [strict]="true" appAsyncCity>
  </div>

  <app-validation-errors [errors]="f?.controls?.['from']?.errors"></app-validation-errors>

  <div class="form-group">
    <label> To:</label>
    <input [(ngModel)]="to" name="to" [ngModelOptions]="{updateOn: 'blur'}" required minlength="3" maxlength="30"
      class="form-control" [appCity]="'Graz,München,Hamburg,Zürich'" [strict]="true" appAsyncCity>
  </div>
  <app-validation-errors [errors]="f?.controls?.['to']?.errors"></app-validation-errors>




  <div class="form-group">
    <label> Date:</label>
    <app-date [(date)]="date"></app-date>
    {{date}}
  </div>

  <div class="form-group">
    <button class="btn btn-default" (click)="search()" [disabled]="!f?.valid">Search</button>
  </div>
</form>

<div class="from-group">
  <input [(ngModel)]="delayFilter" type="checkbox" id="delayFilter" name="delayFilter">
  &nbsp;
  <label for="delayFilter">Delayed</label>
</div>

<div class="from-group">
  <label>
    <input [(ngModel)]="nonstop" type="checkbox" name="nonstop">
    &nbsp;
    Nonstop
  </label>
</div>

<div class="form-group">
  <label>Flght Class</label>
  <div *ngFor="let c of flightClasses ">
    <label>
      <input  type="radio" name="flightClass" [(ngModel)]="flightClass" [value]="c">{{c.name}}
    </label>
  </div>
</div>

<div class="form-group">
<label>Luggage</label>
<select [(ngModel)]="luggage" name="luggage" class="form-control">

  <option *ngFor="let i of luggageOptions" [ngValue]="i">{{i.name}}</option>
</select>

</div>


<!-- <table class="table table-striped">
  <tr *ngFor="let flight of flights" [ngClass]="{'active': flight === selectedFlight}">

    <td> {{flight.id}} </td>
    <td> {{flight.from}} </td>
    <td> {{flight.to}} </td>
    <td> {{flight.date | date:'dd.MM.yyy HH:mm'}} </td>
    <td> <a (click)="select(flight)">Select</a></td>
  </tr>
</table> -->

<div class="row">
  <div *ngFor="let f of flights | statusFilter:delayFilter" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <app-flight-card [item]="f" [(selected)]="basket[f.id]"></app-flight-card>
  </div>
</div>



<b>Basket</b>
<pre>{{basket | json}}</pre>
